{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}



    <div class="d-flex justify-content-md-center justify-content-sm-start mt-5">
        <div class = "col-md-6 col-sm-12 login-box">

            <div class="d-flex justify-content-center">
                <img src = "http://cherrytreemachines.co.uk/wp-content/uploads/2017/04/example-logo.jpg" class = "m-3" height="64" width="128">
            </div>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {{ form_start(loginForm, {'action': path('app_login'), 'method': 'POST'}) }}

                <div class = "form-group">
                    {{ form_widget(loginForm) }}
                </div>

                <button class="btn btn-primary btn-lg btn-block form-rounded mb-2 mt-4" type="submit" id="user_Submit">Prisijungti</button>
            
            <div class = "mb-3 mt-3">
                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" name="_remember_me">
                    <label class = "label-text">Prisiminti mane</label>
                    {{ form_end(loginForm) }}
                    <a href = "/register" style = "float: right">Dar neturi paskyros?</a>
                </div>
            </div>

        </div>
    </div>


{% endblock %}