body {
  background-color: #f8f8f8;
}
.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -3rem;
  margin-bottom: 1rem;
  max-width: 9rem;
}

.volunteer-card {
  margin-bottom: 3rem;
}

.contact-collapse {
  padding: 0;
  margin: 0;
}

.profile-info-container {
  margin: auto;
}

.container {
  margin: auto;
}

.volunteer-list {
  margin-top: 40px;
}

.profile-card {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.login-box {
  border-style: solid;
  border-width: 2px;
  border-color: #f1f1f1;
  background-color: #ffffff;


}

.label-text {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;

}

.form-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.checkbox-label{
  background-color: #f1f1f1;
  display: inline-block;
  width: 45%;
  height: 25px;
}

.checkbox-label:hover {
  background-color: #c2c2c2;
  display: inline-block;
  width: 45%;
  height: 25px;
}

.role-checkbox input[type=checkbox]{
  display: none;
}

@keyframes example {
  from {background-color: #f1f1f1;}
  to {background-color: #1883B7;}
}

.role-checkbox input[type=checkbox]:checked + .checkbox-label{
  animation-name: example;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

#form-data {
    display: none;
}
