@import 'LandingPage.css';

body {
  background-color: #f8f8f8;
}

.Card {
}

.Card-avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  max-width: 9rem;
  margin-bottom: 1rem;
}

.Card-fullName {
  font-size: 1.1rem;
  font-weight: 500;
}

.u-topBottomMargin {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Card-button {
  width: 45%;
  border-color: #46b8da;
}

.Card-profile-name {
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  align-self: center;
}

.Card-button-transparent {
  background-color: transparent;
}

.contact-collapse {
  padding: 0;
  margin: 0;
}

.profile-info-container {
  margin: auto;
}

.container {
  margin: auto;
}

.volunteer-list {
  margin-top: 40px;
}

.profile-card {
  display: flex;
  margin-top: 20px;
  margin-bottom: 230px;
  flex-direction: column;
  justify-content: space-between;
}

.login-box {
  border-style: solid;
  border-width: 2px;
  border-color: #f1f1f1;
  background-color: #ffffff;
}

.label-text {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.form-rounded {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.checkbox-label {
  background-color: #f1f1f1;
  display: inline-block;
  width: 45%;
  height: 25px;
}

.checkbox-label:hover {
  background-color: #c2c2c2;
  display: inline-block;
  width: 45%;
  height: 25px;
}

.role-checkbox input[type='checkbox'] {
  display: none;
}

@keyframes example {
  from {
    background-color: #f1f1f1;
  }
  to {
    background-color: #1883b7;
  }
}

.role-checkbox input[type='checkbox']:checked + .checkbox-label {
  animation-name: example;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#form-data {
  display: none;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Card-profile-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
}

.Card-profile-buttons {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.Card-profile-button {
  align-self: flex-end;
}
.react-bootstrap-daterangepicker-container {
  display: block !important;
}
